.main-layout a {
  color: #E53631;
}

.login-footer > div, .ant-checkbox-wrapper.ant-checkbox-wrapper-checked  {
  color: #4B4D4F;
}

h1, h2, h3 {
  color: white;
}

.main-layout {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resource/images/netflix-background.jpg);
  min-height: 100vh;
}

.main-layout > .container {
  padding: 10px 60px;
  color: white;
}

.navbar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 25px 60px;
  color: #fff;
}

.navbar > a {
  font-size: 1.8em;
  font-weight: bold;
  color: #E53631;
}

a {
  color: #E53631;
}

a:hover {
  color: rgb(226, 127, 124);
}

.ant-btn, .ant-btn-primary, .login-form-button {
  background:#E53631;
  color: white;
  border: none;
}

.ant-btn:hover {
  background: rgb(226, 127, 124);
}

.logout {
  margin-left: 10px;
}