h1, h2, h3 {
  color: white;
}

.main-layout {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resource/images/netflix-background.jpg);
  min-height: 100vh;
}

.main-layout > .container {
  padding: 10px 60px;
  color: white;
}

.navbar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 25px 60px;
  color: #fff;
}

.navbar > a {
  font-size: 1.8em;
  font-weight: bold;
  color: red;
}