.main-layout {
  background: #141414;
  min-height: 100vh;
}

.navbar {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 60px;
  background: #000;
  color: #fff;
}

.navbar > a {
  font-size: 1.8em;
  font-weight: bold;
  color: red;
}