.logo {
    color: brown;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,  0.8);
    padding: 80px 80px;
    color: white;
}

.login-form-button {
    margin-top: 50px;
}

.login-footer {
    margin-top: 100px;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
float: right;
}
#components-form-demo-normal-login .login-form-button {
width: 100%;
}